extends ../layouts/common.pug

block content
	h2 View users

	table.table
		tr
			th Avatar
			th Name
			th Phone
			th ID

		tr
			td
				img(src= user.avatar)
			td= user.name
			td= user.phone
			td= user.id
//- h1 View user

//- p
//-   b Name
//-   span= user.name